* {
  box-sizing: border-box;
}

.container {
  width: 20rem;
}

button {
  cursor: pointer;
}

.input-box {
  text-align: right;
  width: 100%;
  background-color: #858694;
  color: white;
  height: 3rem;
  font-size: 1.2rem;
  border: 1px solid #D1D1D1;
}

.input-box::placeholder {
  color: white;
  opacity: 0.6;
}

.sub-container {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container button {
  border: 1px solid #D1D1D1;
  height: 5rem;
}

.button-width {
  width: 5rem;
}

#zero-button {
  width: 10rem;
}

.left-button {
  background-color: #E0E0E0;
}

.last-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.right-button {
  background-color: #F5913E;
}